<?xml version="1.0"?>
<!--
/**
 * @category    Tun2U
 * @package     Tun2U_KlaviyoAddons
 * @author      Tun2U Team <dev@tun2u.com>
 * @copyright   Copyright(c) 2022 Tun2U (https://www.tun2u.com)
 * @license     https://opensource.org/licenses/gpl-3.0.html  GNU General Public License (GPL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">    
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="Tun2U_KlaviyoAddons_Commands" xsi:type="object">Tun2U\KlaviyoAddons\Console\Command\Commands</item>
			</argument>
		</arguments>
	</type>

    <type name="Tun2U\KlaviyoAddons\Logger\Handler">
		<arguments>
			<argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
		</arguments>
	</type>

    <type name="Tun2U\KlaviyoAddons\Logger\Logger">
		<arguments>
			<argument name="name" xsi:type="string">Tun2UKlaviyoAddonsLogger</argument>
			<argument name="handlers" xsi:type="array">
				<item name="system" xsi:type="object">Tun2U\KlaviyoAddons\Logger\Handler</item>
			</argument>
		</arguments>
	</type>
</config>
